<div class="rightbarspacer"></div>

<h2 id="rightBarHeader">Waiting For Game To Start</h2>

<div>
    <div id="players">
        <h3>Waiting for Players</h3>
        <ol>
            <li>You</li>
        </ol>
    </div>
</div>