<div class="rightbarspacer"></div>

<h2 id="rightBarHeader">Game In Progress</h2>

<div>
    <h3>Players</h3>
    <div id="players">
        <ol>
        </ol>
    </div>
</div>

<div class="rightbarspacer"></div>

<div>
    <div id="turnPhase"><h3></h3></div>
    <div id="turnDetail">Hang on a sec...</div>
</div>

<div class="rightbarspacer"></div>

<div>
    <h3>Cards</h3>
    <div id="cards">
        <ul><li>None... yet!</li></ul>
    </div>
</div>

<div id="turndata">
</div>