<div class="rightbarspacer"></div>

<h2 id="rightBarHeader">Start A New Game</h2>

<div>
    <fieldset>
        <legend>Join A Game</legend>
        <form id="joinForm" onsubmit="return GroupHRisk.functions.joinGame()">
            <table>
                <tr>
                    <th><label for="hostname">IP/Host:</label></th>
                    <td><input type="text" name="hostname" id="hostname" required pattern="((((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4})|((([a-zA-Z]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])))(:([0-9]){1,5})?$" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Join"/></td>
                </tr>
            </table>
        </form>
    </fieldset>
</div>

<div class="rightbarspacer"></div>

<div>
    <fieldset>
        <legend>Host A Game</legend>
        <form id="hostForm" onsubmit="return GroupHRisk.functions.hostGame()">
            <table>
                <tr>
                    <th><label for="maxplayers">Max Players:</label></th>
                    <td><input type="number" id="maxplayers" name="maxplayers" max="6" min="2" value="6" /></td>
                </tr>
                <tr>
                    <th><label for="choosemap">Map: </label></th>
                    <td>
                        <input list="map" name="map" id="choosemap">
                        <datalist id="map"><option value="standard">Standard</option><option value="small">Small</option></datalist>
                    </td>
                </tr>
                <tr>
                    <th><label for="hostport">Port:</label></th>
                    <td><input type="number" id="hostport" name="hostport" max="65535" min="1024" value="9000"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Host Game"></td>
                </tr>
            </table>
        </form>
    </fieldset>
</div>